/* body {
  font-family: Arial, sans-serif;
  background-color: #f0e4e4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.container {
  max-width: 900px;
  width: 100%;
  padding: 20px;
}

.main {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cvPreviews {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.cvPreview {
  width: 100px;
  height: 140px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  margin: 0 0.5rem;
}
